<!DOCTYPE html>
<html>

<head>
    <meta charset="{{ site.charset }}" />
    <title>
        {% if wp_title %}
        {{ wp_title }} - {{ site.name }}
        {% else %}
        {{ site.name }}
        {% endif %}
    </title>

    <!-- favicon start -->
    <link rel="apple-touch-icon" sizes="57x57" href="{{ site.theme.link }}/assets/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ site.theme.link }}/assets/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ site.theme.link }}/assets/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ site.theme.link }}/assets/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ site.theme.link }}/assets/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ site.theme.link }}/assets/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ site.theme.link }}/assets/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ site.theme.link }}/assets/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.theme.link }}/assets/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ site.theme.link }}/assets/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.theme.link }}/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ site.theme.link }}/assets/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.theme.link }}/assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{ site.theme.link }}/assets/images/favicon/manifest.json">
    <link rel="shortcut icon" href="{{ site.theme.link }}/assets/images/favicon/favicon.ico">
    <!-- favicon end -->

    <meta name="description" content="{{ site.description }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link rel="author" href="{{ site.theme.link }}/humans.txt" />
    <link rel="pingback" href="{{ site.pingback_url }}" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    {{function('wp_head')}}
</head>

<body class="{{body_class}}">
<body>
	<aside class="sidebar">
		<div class="sidebar-inner">
		<div class="sidebar-logo">
			<a href="{{ site.link }}"><h2>Мебель в Орехово-Зуево</h2></a>
			<div class="sidebar-description"><h2>Мебель в Орехово-Зуево</h2></div>
		</div>
		<div class="sidebar-search">
			<form role="search" method="get" action="" class="searchform group">
				<input type="submit" value="" class="search-button">
				<input required="required" type="text" name="s" id="s" placeholder="Найти мебель" class="search-text">
			</form>
		</div>
		<div class="sidebar-menu">
			<ul>
				{% for parent_category in Term(main_categories) %}
				
				<li>
					<a href="{{ parent_category.link }}"><img src="{{ TimberImage(parent_category.meta('thumbnail_id')).src }}" alt=""><span>{{ parent_category.title }}</span></a>
					{% if parent_category.children %}
					<ul class="sub-menu">
						
						{% for category in parent_category.children %}    
							{% if category.parent == parent_category.term_id %}
								<li>
									<a href="{{ category.link }}">{{ category.title }}</a>
									{% if category.children %}
									<ul class="sub-menu">
										{% for subcategory in category.children %}
											
											{% if subcategory.parent == category.term_id %}
											<li>
												<a href="{{ subcategory.link }}">{{ subcategory.title }}</a>
												{% if subcategory.children %}
												<ul class="sub-menu">
													{% for subsubcategory in subcategory.children %}    
													<li>
														<a href="{{ site.link }}/product-category/katalog/">{{ subsubcategory.title }}</a>
													</li>
													{% endfor %}
												</ul>
												{% endif %}
											</li>
											{% endif %}

										{% endfor %}
									</ul>
									{% endif %}
								</li>
							{% endif %}
						{% endfor %}
					</ul>
					{% endif %}
				</li>
				{% endfor %}
				<li>
					<a href="{{ site.link }}/product-category/katalog/"><img src="{{ site.theme.link }}/assets/images/cat-7.png" alt=""><span>Супер предложения</span></a>
				</li>
			</ul>
		</div>
		<div class="sidebar-bottom">
			<a href="tel:+7 000 000 00 00" class="sidebar-phone">+7 000 000 00 00</a>
			<a href="" class="sidebar-callback js_alModal" data-modal="js_modal-1">Обратный звонок</a>
		</div>
		</div>
	</aside>
	<div class="content">
    <header class="main-header">
    	<div class="container">
    		<div class="main-header-logo">
    			<a href="{{ site.link }}"><h2>Мебель в Орехово-Зуево</h2></a>
    		</div>
     		<div class="main-header-menu">
     			<ul>
     			{% for item in menu_header.get_items %}
                	<li itemprop="name" class="{{item.class}}">
                    	<a itemprop="url" href="{{ item.link }}">{{ item.title }}</a>
                	</li>
                {% endfor %}
     			</ul>
     		</div>
     		<div class="main-header-callback">
     			<a class="main-header-phone" href="tel:+7 000 000 00 00">+7 000 000 00 00</a>
     			<a class="main-header-callback-link js_alModal" data-modal="js_modal-1" href="">Перезвоните мне</a>
     		</div>
			<div id="sb-search" class="sb-search">
				<form role="search" method="get" id="searchform" action="">
					<input class="sb-search-input" placeholder="Поиск" type="text" value="" name="search" id="search">
					<input class="sb-search-submit" type="submit" value="">
					<span class="sb-icon-search"></span>
				</form>
			</div>
     		<a href="{{ site.link }}/favorite" class="favorite-link">Избранное</a>
			<a class="cart-link" href="{{ site.link }}/cart">Корзина</a>
 		</div>
    </header>