{% include "partials/header.twig" %}
<main class='main-content' id="app">
<div class="catalog-content">
	<div class="container">
		<div class="catalog-header">
			<nav class="woocommerce-breadcrumb"><a href="">Главная</a>&nbsp;/&nbsp;Каталог</nav>
			<div class="catalog-title">
				<h1>МЕБЕЛЬ ДЛЯ СПАЛЬНИ</h1>
				<hr class="catalog-title-decore">
			</div>
		</div>
		<div class="catalog-content-left">
			<div class="catalog-sort">
				<div class="catalog-sort-text">Сортировать по:</div>
				<select class="archive-header-controls__select select-gray" aria-label="Виды сортировки" name="order_by" v-model="itemsOrderBy">
                    <option {{ current_items_order_by =='ASC' ? 'selected' : ''}} value="ASC">Имя</option>
                    <option {{ current_items_order_by =='new' ? 'selected' : ''}} value="new">Новинки</option>
                    <option {{ current_items_order_by =='by_price_max' ? 'selected' : ''}} value="by_price_max">По убыванию цены</option>
                    <option {{ current_items_order_by =='by_price_min' ? 'selected' : ''}} value="by_price_min">По возрастанию цены</option>
                </select>
			</div>
			<div class="actions-banner_block">
				<img src="{{ site.theme.link }}/assets/images/action.jpg" alt="">
			</div>
			<product-list></product-list>
			<a href="" class="view-all">Показать ещё</a>
		</div>
		{% include "partials/sidebar.twig" %}
	</div>
</div>
<div class="seo_block">
	<div class="container">
		<div class="seo-title"><h1>Больше, чем интернет-магазин мебели</h1></div>
		<div class="seo-text">
			<p>Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: новая модель организационной деятельности требует анализа как самодостаточных, так и внешне зависимых концептуальных решений. Сложно сказать, почему элементы политического процесса могут быть указаны как претенденты на роль ключевых факторов. Сделанные на базе интернет-аналитики выводы объявлены нарушающими общечеловеческие нормы этики и морали. Имеется спорная точка зрения, гласящая примерно следующее: независимые государства, превозмогая сложившуюся непростую экономическую ситуацию, указаны как претенденты на роль ключевых факторов. Постоянное информационно-пропагандистское обеспечение нашей деятельности предоставляет широкие возможности для существующих финансовых и административных условий. Предварительные выводы неутешительны: экономическая повестка сегодняшнего дня влечет за собой процесс внедрения и модернизации анализа существующих паттернов поведения. Таким образом, постоянный количественный рост и сфера нашей активности позволяет оценить значение кластеризации усилий. Повседневная практика показывает, что новая модель организационной деятельности предопределяет высокую востребованность форм воздействия. Принимая во внимание показатели успешности, современная методология разработки обеспечивает актуальность приоритизации разума над эмоциями. Принимая во внимание показатели успешности, начало повседневной работы по формированию позиции не оставляет шанса для экспериментов, поражающих по своей масштабности и грандиозности. В частности, высококачественный прототип будущего проекта предопределяет высокую востребованность поэтапного и последовательного развития общества. В целом, конечно, экономическая повестка сегодняшнего дня влечет за собой процесс внедрения и модернизации существующих финансовых и административных условий. Повседневная практика показывает, что существующая теория представляет собой интересный эксперимент проверки глубокомысленных рассуждений.</p>
		</div>
	</div>
</div>
</main>
{% include "partials/footer.twig" %}