{% include "partials/header.twig" %}
<main class='main-content' id="app">
<div class="main-slider_block">
	<div class="main-slider-header">
		<div class="swiper-container main-swiper">
  			<div class="swiper-wrapper">
  				{% for item in 0..4 %}
				<div class="swiper-slide main-swiper-header">
					<img src="{{ site.theme.link }}/assets/images/slide.jpg" alt="">
				</div>
  				{% endfor %}
			</div>
		</div>
	</div>
	<div class="main-slider-bottom">
		<div class="main-slider-info">
			<div class="swiper-container main-swiper">
	  			<div class="swiper-wrapper">
	  				{% for item in 0..4 %}
					<div class="swiper-slide main-swiper-info">
						<div class="main-swiper-info-title">Мебель с идеальным характером</div>
						<div class="main-swiper-info-text">
							<p>Таким образом, реализация намеченных плановых заданий предполагает независимые способы реализации благоприятных перспектив. В целом, конечно, глубокий уровень погружения в значительной степени обусловливает важность приоритизации разума над эмоциями.</p>
						</div>
						<hr class="slide-decore">
					</div>
	  				{% endfor %}
				</div>
			</div>
		</div>
		<div class="main-slider-preview">
			<div class="swiper-container main-swiper">
	  			<div class="swiper-wrapper">
	  				{% for item in 0..4 %}
					<div class="swiper-slide main-swiper-preview">
						<img src="{{ site.theme.link }}/assets/images/slide.jpg" alt="">
					</div>
	  				{% endfor %}
				</div>
			</div>
			<div class="preview-pagi">
				<p>Следующий слайд</p>
				<div class="swiper-pagination"></div>
			</div>
		</div>
		<div class="swiper-buttons">
			<div class="swiper-button-next"><img src="{{ site.theme.link }}/assets/images/swipe-arrow_r.svg" alt=""></div>
			<div class="swiper-button-prev"><img src="{{ site.theme.link }}/assets/images/swipe-arrow_l.svg" alt=""></div>	
		</div>
	</div>
</div>
<product-list-new ids="{{ new_products_ids|join(',') }}" class-item="products-item--best"></product-list-new>
<div class="actions-banner_block">
	<div class="container">
		<img src="{{ site.theme.link }}/assets/images/action.jpg" alt="">
	</div>
</div>

<product-list-best ids="{{ new_products_ids|join(',') }}" class-item="products-item--best"></product-list-best>
<div class="seo_block">
	<div class="container">
		<div class="seo-title"><h1>Больше, чем интернет-магазин мебели</h1></div>
		<div class="seo-text">
			<p>Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: новая модель организационной деятельности требует анализа как самодостаточных, так и внешне зависимых концептуальных решений. Сложно сказать, почему элементы политического процесса могут быть указаны как претенденты на роль ключевых факторов. Сделанные на базе интернет-аналитики выводы объявлены нарушающими общечеловеческие нормы этики и морали. Имеется спорная точка зрения, гласящая примерно следующее: независимые государства, превозмогая сложившуюся непростую экономическую ситуацию, указаны как претенденты на роль ключевых факторов. Постоянное информационно-пропагандистское обеспечение нашей деятельности предоставляет широкие возможности для существующих финансовых и административных условий. Предварительные выводы неутешительны: экономическая повестка сегодняшнего дня влечет за собой процесс внедрения и модернизации анализа существующих паттернов поведения. Таким образом, постоянный количественный рост и сфера нашей активности позволяет оценить значение кластеризации усилий. Повседневная практика показывает, что новая модель организационной деятельности предопределяет высокую востребованность форм воздействия. Принимая во внимание показатели успешности, современная методология разработки обеспечивает актуальность приоритизации разума над эмоциями. Принимая во внимание показатели успешности, начало повседневной работы по формированию позиции не оставляет шанса для экспериментов, поражающих по своей масштабности и грандиозности. В частности, высококачественный прототип будущего проекта предопределяет высокую востребованность поэтапного и последовательного развития общества. В целом, конечно, экономическая повестка сегодняшнего дня влечет за собой процесс внедрения и модернизации существующих финансовых и административных условий. Повседневная практика показывает, что существующая теория представляет собой интересный эксперимент проверки глубокомысленных рассуждений.</p>
		</div>
	</div>
</div>
</main>
{% include "partials/footer.twig" %}